<div>
	<h1>CAMPIONATI</h1>
	<p-button (onClick)="bo()">Aggiungi</p-button>
</div>
<div>
	<label>Nome Campionato</label>
	<input type="text" [(ngModel)]="championship.description" />
</div>
<div>
	<label>Inizio Campionato</label>
	<input type="text" [(ngModel)]="championship.startYear" />
</div>
<div>
	<label>Fine Campionato</label>
	<input type="text" [(ngModel)]="championship.endYear" />
</div>
<div>
	<p-table [value]="championships">
		<ng-template pTemplate="header">
			<th>Nome Campionato</th>
			<th>Inizio</th>
			<th>Fine</th>
		</ng-template>
		<ng-template pTemplate="body" let-row>
			<tr class="tableRow">
				<td>{{row.description}}</td>
				<td>{{row.startYear}}</td>	
				<td>{{row.endYear}}</td>
			</tr>
		</ng-template>
	</p-table>
</div>




<div>
	<h1>SQUADRE</h1>
	<p-button (onClick)="bo()">Aggiungi</p-button>
</div>
<div>
	<label>Nome Squadra</label>
	<input type="text" [(ngModel)]="squadra.name" />
</div>
<div>
	<p-table [value]="squadre">
		<ng-template pTemplate="header">
			<th>Nome Squadra</th>
		</ng-template>
		<ng-template pTemplate="body" let-row>
			<tr class="tableRow">
				<td>{{row.name}}</td>	
			</tr>
		</ng-template>
	</p-table>
</div>


<div>
	<h1>CALENDARIO</h1>
	<p-button (onClick)="bo()">Aggiungi</p-button>
</div>
<div>
	<label>Giornata</label>
	<input type="text" [(ngModel)]="giornata.description" />
</div>
<div>
	<label>Data</label>
	<input type="text" [(ngModel)]="giornata.date" />
</div>
<div>
	<p-table [value]="giornate">
		<ng-template pTemplate="header">
			<th>Giornata</th>
			<th>Data</th>
		</ng-template>
		<ng-template pTemplate="body" let-row>
			<tr class="tableRow">
				<td>{{row.description}}</td>
				<td>{{row.date}}</td>	
			</tr>
		</ng-template>
	</p-table>
</div>


<div>
	<h1>GIOCATORI</h1>
	<p-button (onClick)="bo()">Aggiungi</p-button>
</div>
<div>
	<label>Cognome</label>
	<input type="text" [(ngModel)]="player.surname" />
</div>
<div>
	<label>Nome</label>
	<input type="text" [(ngModel)]="player.name" />
</div>
<div>
	<label>Squadra</label>
	<input type="text" [(ngModel)]="player.team" />
</div>
<div>
	<p-table [value]="players">
		<ng-template pTemplate="header">
			<th>Cognome</th>
			<th>Nome</th>
			<th>Squadra</th>
		</ng-template>
		<ng-template pTemplate="body" let-row>
			<tr class="tableRow">
				<td>{{row.surname}}</td>
				<td>{{row.name}}</td>
				<td>{{row.team}}</td>
					
			</tr>
		</ng-template>
	</p-table>
</div>





