<div>
	<h1>CLASSIFICA</h1>
</div>
<div *ngIf="rankings">
	<p-table [value]="rankings">
		<ng-template pTemplate="header">
			<th>Squadra</th>
			<th>Partite</th>
			<th>Vittorie</th>
			<th>Pareggi</th>
			<th>Sconfitte</th>
			<th>Goal Fatti</th>
			<th>Goal Subiti</th>
			<th>Differenza Reti</th>
			<th>Punti</th>
		</ng-template>
		<ng-template pTemplate="body" let-RANKINGS>
			<tr>
				<td>{{RANKINGS.name}}</td>
				<td>{{RANKINGS.games}}</td>
				<td>{{RANKINGS.victories}}</td>
				<td>{{RANKINGS.draws}}</td>
				<td>{{RANKINGS.defeats}}</td>
				<td>{{RANKINGS.goalsScored}}</td>
				<td>{{RANKINGS.goalsConceded}}</td>
				<td>{{RANKINGS.goalDifference}}</td>
				<td>{{RANKINGS.points}}</td>	
			</tr>
		</ng-template>
	</p-table>
</div>