.title {
	text-align: center;
	background-color: white;
}

.wrapper  {
	text-align: center;
	background-color: black;
} 

.tableRow td {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-team {
	display: flex;
	color: white;
	flex-direction: column;
}

.flex-ranking {}